.calendar {
  .events{
    max-width: 960px;
    margin: auto;

    .season{
      @include responsive-sizing(margin-top, 100px, 50px, 30px, 30px);
      span{
        background: $YELLOW;
        padding: 4px 8px;
      }
    }

    .event{
      @include responsive-sizing(margin, 60px, 50px, 30px, 30px);

      .event-desc{
        margin-top: 15px;
      }
    }
  }
}
