.contact {
  margin-top: 60px;
  word-wrap: break-word;

  .contact-container{
    display: flex;
    align-items: center;
    justify-content: center;

    @media(max-width: $LESS_THAN_MD){
      display: block;
      text-align: center;
      div{
        padding-right: 0 !important;
        margin: 30px 0 30px 0 !important;
      }
    }

    div{
      padding-right: 30px;
      margin-right: 30px;
    }

    .company{
      border-right: 1px solid $GRAY;
      margin-right: 60px;

      @media(max-width: $LESS_THAN_MD){
        margin-right: 0px;
        border-right: none;
      }
    }
  }

  .direct{
    background-color: $LIGHT_GRAY;
    margin-top: 60px;
    @include responsive-sizing(padding, 60px, 50px, 30px, 30px);


    @media(max-width: $LESS_THAN_MD){
      text-align: center;
    }

  }
}
